<div class="col-12 bg-dark d-flex justify-content-between text-white black p-1" style="height: 39px;">
        <div style="height: 35px;">
            <div id="iconMenu" onclick="clickMenu()"><i class="fa fa-bars" id="menu-click"></i>&nbsp Menu</div>
        </div>
        <div class="header bg-black d-flex justify-content-start">
            <div class="ml-4 mr-4 font-size " ><a class="btn" href="/">home</a></div>
            <span class="ml-4 mr-4 font-size ">Logo</span>
                <!-- <button src="" id="dashboard" type="submit" class="btn btn-primary"><a href="/api/panel">dddddashboard</a></button> -->

        </div>
    </div>