<div class="disNone col-lg-3 col-3 panelLeftShow hght100 animate-left" id="panelLeft">
        <div class="d-flex row justify-content-around align-items-center" style="height: 80px">
            <div class="col-3">
                <img src="" class="rounded-circle" id="userAvatar"style="width:100px;    margin: 10px 0px 11px -10px;">
            </div>
            <div class="col-7 dashInfo d-flex flex-wrap">
                <span class="col-12 pl-0 pt-4 ">Welcome, <strong id="firstName"></strong></span><br>
                <a href="#" class="text-dark social"><i class="fa fa-envelope"></i></a>
                <a href="#" class="text-dark social"><i class="fa fa-user"></i></a>
                <a href="#" class="text-dark social"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>
        <div class="">
            <h3>&nbsp Dashboard</h3>
        </div>
        <div class="d-l d-flex flex-column ">
            <a href="#" id="close" class="col-12 m-close" onclick="closePanel()" title="close menu"><i
                    class="fa fa-remove fa-fw"></i>&nbsp;
                Close Menu</a>
            <a href="#" class="col-12 bg-blue text-white"><i class="fa fa-users fa-fw"></i>&nbsp;
                Overview</a>
            <a href="#showInfo" class="col-12" id="showInfoUsers" ><i class="fa fa-users fa-fw" ></i>&nbsp;profile</a>
            <a href="user/addArticle" class="col-12" id="showArticlesUsers"><i class="fa fa-users fa-fw"></i>&nbsp;
                Article</a>
            <a href="#" class="col-12" ><i class="fa fa-bullseye fa-fw"></i>&nbsp;
                Geo</a>
            <a href="#" class="col-12" id="showall"><i class="far fa-gem"></i>&nbsp;
                Orders</a>
            <a href="#" class="col-12"><i class="fa fa-bell fa-fw"></i>&nbsp; News</a>
            <a href="#" class="col-12"><i class="fa fa-bank fa-fw"></i>&nbsp;
                General</a>
            <a href="#" class="col-12"><i class="fa fa-history fa-fw"></i>&nbsp;
                History</a>
            <a href="#" class="col-12"><i class="fa fa-cog fa-fw"></i>&nbsp;
                Settings</a>
            <button type="button" class="btn btn-danger"><a href="/logout">logout</a></button>
                <br><br>
        </div>
    </div>