html,
body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: #eee;
    overflow: hidden;
    animation-delay: 2ms;
}
.scrolls{
    /* height:500px; */
    overflow-y:scroll;
    width:100%;
}
.showMore{
    display: block;
    height:  1.75rem;
    overflow: hidden;
}
* {
    margin: 0px;
}
#avatar{
    max-width: 65px;
    border-radius: 100%;
}
.show {
    display: block;
}
.bg-blue {
    background-color: #007bff
}
.font-size{
    font-size: 20px;
}
.bck {
    background-color: #eee;
    margin: 0px !important;
}

.border-bott {
    border-bottom: 5px solid;
    padding: 10px 0;
}

.footer {
    width: 100%;
    padding: 40px 30px;
    background-color: rgb(216, 216, 183);

}
.social:hover{
    color: #000 !important;
    background-color: #ccc !important;
}
.social{
    padding: 13px 16px 13px 16px !important;
}
.p-10 {
    padding: 10px
}

.costumerHeghit {
    height: auto !important;
    padding: 10px 0;
}

.pnlLeft {
    height: 100%;
}

.disNone {
    display: none;
}

#iconMenu {
    display: block;
}

.PanelUser {
    padding: 0px !important;
}

.PanelUser li {
    padding: 20px 5px;
    font-size: 25px;
}
.panelLeftShow {
    background-color: #fff;
    padding: 0px !important;
	/* overflow-y: scroll; */
    overflow-x:hidden;
    
	
}
.tr{
    border-bottom: none;
}
.bg-gray{
    color: #000 !important;
    background-color: #9e9e9e !important;
}
.panelLeftShow .d-l a {
    padding: 10px 15px;
    color: #000000;
}

.panelLeftShow .d-l a:hover {
    text-decoration: none;
    color: white !important;
    background-color: #999999;
}
.m-border {
    border: 1px solid #ccc !important;
}
.table-hover:hover{
    background-color: #b8b8b8!important;
}
.progress{
    height: 40px !important;
}
.td{padding: 10px 0 10px 21px !important;}
.m-btn{
    width: 144px;
    padding: 11px;
    font-size: 14px;
    border: none;
}
button:focus {

    outline: none;
    background-color: #545b62 !important;

}
button:hover {

    color: black !important;
    background-color: #ccc !important;

}
.shadow{
    box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19) !important;
}
.dashInfo a {
    padding: 13px;
}

.tbl {
    text-align: center;
}

.tbl tr {
    min-height: 50px;
}

.hght100 {
    height: 100%;
}

.tbl tr:nth-child(odd) {
    background-color: #ffffff;
}
.header{
    height: 35px !important;
    /* position: fixed; */
    top: 0;
    width: 100%;
}
#iconMenu {
    display: flex;
    text-align: center;
    width: 114px;
    font-size: 18px;
    padding: 6px 14px;
    align-items: baseline;
}
.m-close{
    text-decoration: none;
    color: white !important;
    background-color: #999999;
    font-size: 17px;
}
.m-close:hover{
    text-decoration: none;
    color: white !important;
    background-color: black !important;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .panelLeftShow {
        display: block !important;
        position: unset !important;
        z-index: 1 !important;
        top: 48px !important;
    }
    .header{
        height: 40px;
        /* position: fixed; */
        top: 0;
        width: 100%;
    }
    #close {
        display: none;
    }

    #iconMenu {
        display: none;
    }
}

@media (min-width: 1200px) {}